<form
  class="user-personal-details-form"
  *ngIf= "currentFormIndex === 0"
  [formGroup]="userPersonalDetails"
  [class.error]="!userPersonalDetails.valid && userPersonalDetails.touched"
>
  <ng-template
    #userPersonalDetail
    [ngTemplateOutlet]="userPersonalDetail"
    let-userPersonalFormDetail="userPersonalFormDetail"
    [ngTemplateOutletContext]="{
        userPersonalFormDetail: userPersonalDetailsObject
    }"
  >
    <p id="registerForm-details-title">{{ userPersonalFormDetail.name }}</p>
    <ng-container *ngFor="let data of userPersonalFormDetail.fields">
      <div id="registerForm-detials-row">
        <div>
            <p class="label">{{ data.label }}</p>
            <p>{{ data.error }}</p>
            <input
            class="form-input"
              [attr.for]="data.value"
              type="{{ data.inputType }}"
              placeholder="{{ data.placeholder }}"
              formControlName="{{ data.value }}"
              [ngClass]="{ error: data.error != '' }"
              (input)="onInputChange()"
            />
          </div>
      </div>
    </ng-container>
  </ng-template>
</form>



<!-- type="{{ data.inputType }}"
              placeholder="{{ data.placeholder }}"
              [ngClass]="{ error: data.error != '' }" -->