<form
  *ngIf="currentFormIndex === 0"
  [formGroup]="personalDetails"
  [class.error]="!personalDetails.valid && personalDetails.touched"
>
  <ng-template
    #personalDetail
    [ngTemplateOutlet]="personalDetail"
    let-personalFormDetail="personalFormDetail"
    [ngTemplateOutletContext]="{
      personalFormDetail: personalDetailsObject
    }"
  >
    <p id="eligibilityForm-details-title">
      {{ personalFormDetail.name }}
    </p>
    <ng-container *ngFor="let data of personalFormDetail.fields">
      <div id="eligibilityForm-detials-row">
        <div>
          <p>{{ data.label }}</p>
          <p>{{ data.error }}</p>
          <!-- <div *ngIf="data.options; else displayTextInput">
                <label
                  >Yes
                  <input
                    type="radio"
                    name="data.placeholder"
                    [ngClass]="{ error: data.error != '' }"
                /></label>
                <label
                  >No
                  <input
                    type="radio"
                    name="data.placeholder"
                    [ngClass]="{ error: data.error != '' }"
                /></label>
              </div> -->
          <!-- <ng-template #displayTextInput> -->
          <input
            type="{{ data.inputType }}"
            placeholder="{{ data.placeholder }}"
            formControlName="{{ data.value }}"
            [ngClass]="{ error: data.error != '' }"
            readonly
          />
          <!-- </ng-template> -->
        </div>
      </div>
    </ng-container>
  </ng-template>
</form>
