<body>
  <div id="admin-div" [align]="'center'">
    <h4></h4>
    <div class="container">
      <div class="switch"></div>
    </div>
  </div>
  <div>
    <Table>
      <thead>
        <tr>
          <th>Application Id</th>
          <th>Application Status</th>
          <th>EMI Amount</th>
          <th>Loan Amount</th>
          <th>No of Emis</th>
          <th>User Id</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{ applicationData.application_id }}</td>
          <td>{{ applicationData.application_status }}</td>
          <td>{{ applicationData.emi_amt }}</td>
          <td>{{ applicationData.loan_amt }}</td>
          <td>{{ applicationData.no_of_emis }}</td>
          <td>{{ applicationData?.user?.user_id }}</td>
        </tr>
      </tbody>
    </Table>
    <!-- <button type="submit" class="btn btn-add">Edit Employee</button>  -->
    <!-- <div class="register" (click)="onClickToggle('pending')" [ngClass]="{active:toggle=='pending'}">Pending</div> -->
    <div
      class=""
      (click)="onClickToggle('approved')"
      [ngClass]="{ active: toggle == 'approved' }"
    >
      Approved
    </div>
    <div
      class=""
      (click)="onClickToggle('rejected')"
      [ngClass]="{ active: toggle == 'rejected' }"
    >
      Rejected
    </div>
  </div>
</body>
