<form
  class="address-details-form"
  *ngIf="currentFormIndex === 1"
  [formGroup]="addressDetails"
  [class.error]="!addressDetails.valid && addressDetails.touched"
>
  <ng-template
    #addressDetail
    [ngTemplateOutlet]="addressDetail"
    let-addressFormDetail="addressFormDetail"
    [ngTemplateOutletContext]="{
      addressFormDetail: addressFormDetailsObject
    }"
  >
    <p id="registerForm-details-title">
      {{ addressFormDetail.name }}
    </p>
    <ng-container *ngFor="let data of addressFormDetail.fields">
      <div id="registerForm-detials-row">
        <div>
          <p class="label">{{ data.label }}</p>
          <p>{{ data.error }}</p>
          <input
            class="form-input"
            [attr.for]="data.value"
            type="{{ data.inputType }}"
            placeholder="{{ data.placeholder }}"
            formControlName="{{ data.value }}"
            [ngClass]="{ error: data.error != '' }"
            (change)="onInputChange()"
          />
        </div>
      </div>
    </ng-container>
  </ng-template>
</form>
