<form
  class="address-details-form"
  *ngIf="currentFormIndex === 1"
  [formGroup]="addressDetails"
  [class.error]="!addressDetails.valid && addressDetails.touched"
>
  <ng-template
    #addressDetail
    [ngTemplateOutlet]="addressDetail"
    let-addressFormDetail="addressFormDetail"
    [ngTemplateOutletContext]="{
      addressFormDetail: addressFormDetailsObject
    }"
  >
    <p id="registerForm-details-title">
      {{ addressFormDetail.name }}
    </p>
    <ng-container *ngFor="let data of addressFormDetail.fields">
      <div id="registerForm-detials-row">
        <div>
          <p class="label">{{ data.label }}</p>
          <p>{{ data.error }}</p>
          <input
            class="form-input"
            [attr.for]="data.value"
            type="{{ data.inputType }}"
            placeholder="{{ data.placeholder }}"
            formControlName="{{ data.value }}"
            [ngClass]="{ error: data.error != '' }"
            (change)="onInputChange()"
          />
          <p
            *ngIf="addressDetailsControl[data.value]?.errors?.required"
            class="form-error"
          >
            Please fill this field
          </p>
          <p *ngIf="addressDetailsControl[data.value]?.errors?.minLength">
            Please enter a valid {{ data.value }}
          </p>
          <p *ngIf="addressDetailsControl[data.value]?.errors?.pattern">
            Please enter a valid {{ data.value }}
          </p>
        </div>
      </div>
    </ng-container>
  </ng-template>
</form>
