<body>
  <div class="split left">
    <div class="centered">
      <img class="adminLogin" src="assets\svgs\adminLogin.svg" width="" />
    </div>
  </div>

  <div class="split right">
    <div class="right_centered">
      <div class="container" >
        <div class="switch" >
            <div class="register" (click)="onClickToggle('Register')" [ngClass]="{active:toggle=='Register'}">REGISTER</div>
            <div class="register" (click)="onClickToggle('signin')" [ngClass]="{active:toggle=='signin'}">SIGN IN</div>
        </div>
    </div>
    <br>
      <h1 class="header">Welcome Back</h1>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <br>
        <div class="element">
          <input
            class="auth-input"
            text="[inputType]"
            formControlName="email"
            placeholder="Email"
          />
        </div>
        <br>
        <div class="element">
          <input
            class="auth-input"
            text="[inputType]"
            formControlName="password"
            placeholder="Password"
          />
        </div>
        <br>
        <label
          >Login as admin<input
            type="checkbox"
            (change)="changeLoginToAdmin($event.target)"
        /></label>
        <br>
        <br>
        <div class="element">
        <button class="loginBtn"(click)="onLoginClick()" id="next">Login</button>
      </div>
      </form>
    </div>
  </div>
</body>
