<body class="login-form">
  <div class="split left">
    <div class="centered">
      <img class="adminLogin" src="assets\svgs\adminLogin.svg" width="" />
    </div>
  </div>

  <div class="split right">
    <div class="right_centered">
      <br />
      <h1 class="header">Welcome Back</h1>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <br />
        <div class="element">
          <input
            class="auth-input"
            text="[inputType]"
            type="email"
            formControlName="email"
            placeholder="Email"
          />
          <p
            *ngIf="loginFormControl.email.errors?.email && loginClicked"
            class="form-error"
          >
            Please enter email in correct format
          </p>
          <p
            *ngIf="loginFormControl.email.errors?.required && loginClicked"
            class="form-error"
          >
            Please enter your email id
          </p>
        </div>
        <br />
        <div class="element">
          <input
            class="auth-input"
            text="[inputType]"
            type="password"
            formControlName="password"
            placeholder="Password"
          />
          <p
            *ngIf="loginFormControl.password.errors?.required && loginClicked"
            class="form-error"
          >
            Please enter your password
          </p>
          <!-- <p
            *ngIf="
              loginFormControl.password.dirty &&
              loginFormControl.password.errors?.minLength?.actualLength < 8 &&
              loginClicked
            "
            class="form-error"
          >
            Password should be of minimum length 8
          </p> -->
        </div>
        <br />
        <label class="login-admin"
          >Login as admin<input
            type="checkbox"
            (change)="changeLoginToAdmin($event.target)"
        /></label>
        <br />
        <br />
        <!-- <p>Login failed</p> -->
        <div class="element">
          <!-- <p *ngIf="loginForm">
            {{ loginForm.errors }}Please enter email in correct format
          </p> -->
          <button class="loginBtn" (click)="onLoginClick()" id="next">
            Login
          </button>
        </div>
        <div id="new-user">
          New User?
          <p [routerLink]="['/register']">Create an account</p>
        </div>
      </form>
    </div>
  </div>
</body>
