<body class="login-form">
  <div class="split left">
    <div class="centered">
      <img class="adminLogin" src="assets\svgs\adminLogin.svg" width="" />
    </div>
  </div>

  <div class="split right">
    <div class="right_centered">
      <br />
      <h1 class="header">Welcome Back</h1>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <br />
        <div class="element">
          <input
            class="auth-input"
            text="[inputType]"
            type="email"
            formControlName="email"
            placeholder="Email"
          />
        </div>
        <br />
        <div class="element">
          <input
            class="auth-input"
            text="[inputType]"
            type="password"
            formControlName="password"
            placeholder="Password"
          />
        </div>
        <br />
        <label class="login-admin"
          >Login as admin<input
            type="checkbox"
            (change)="changeLoginToAdmin($event.target)"
        /></label>
        <br />
        <br />
        <div class="element">
          <button class="loginBtn" (click)="onLoginClick()" id="next">
            Login
          </button>
        </div>
        <div id="new-user">
          New User?
          <p [routerLink]="['/register']">Create an account</p>
        </div>
      </form>
    </div>
  </div>
</body>
