.title{
/* position: relative;
bottom: 200px; */
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 46px;
color: #000000;
}

.container{
    padding: 100px;
    width: 500px;
    height: 450px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EFF0F7;
    box-shadow: 5px 5px 16px rgba(8, 15, 52, 0.06);
    border-radius: 34px;
}

.label{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #170F49;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 15px;
}
.form-input{
    box-sizing: border-box;
    width: 283.94px ;
    padding: 10px 11px;
    font-size: 16px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #EFF0F7;
    box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
    border-radius: 46px;
}

.emi{
    /* position: fixed;
    top: 380px;
    right: 680px;  */
    width: 450px;
    padding: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    letter-spacing: 2px;
    color: #000000;
    background-color: rgba(74, 58, 255, 0.2);
    border-radius: 34px;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 10px;
  }
  /* Control the left side */
  .left {
    left: 20%;
    top: 400px;
  }
  /* Control the right side */
  .right {
   right: 0%;
   left: 55%;
   top: 400px;
  }
  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img{
    /* position: fixed;
    top: 510px;
    right: 680px; */
  }

  .btn {
    position: relative;
    top: 40px;
    left: 75px;
    background: #4A3AFF;
    padding: 10px 40px;
    color: #fff;
    border: none;
    box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
    border-radius: 56px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: all 150ms linear;
}
.btn:hover {
    color: #4A3AFF;
    background-color: #fff;
}
