<div class="centered">
    <h1 class="title">EMI CALCULATOR</h1>
</div>
<div class="split left">
    <div class="container">
        <div class="label" >Loan Amount:</div>
        <input type="number" [(ngModel)]="loanAmount" class="form-input"/>
        <div class="label" >Tenure in months:</div>
        <input type="number" [(ngModel)]="tenure" class="form-input"/>
        <div class="label" >Interest:</div>
        <input type="number" [(ngModel)]="interest" class="form-input"/>
        <button (click)="cal()" class="btn">Calculate</button>   
    </div>
</div>
   

    <div class="split right">
       
        <h2 class="emi" >EMI:{{ emi }}/Month</h2>
        <img class="img" src="/assets/svgs/calc.svg" alt="image">

    </div>


