.emi-calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 130px;
  margin-bottom: 70px;
}

.title{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #000000;
}

.emi-calc-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.container{
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #EFF0F7;
  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.calc-btn {
  background: #4A3AFF;
  padding: 10px 40px;
  color: #fff;
  border: none;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: all 150ms linear;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.calc-btn:hover {
  color: #4A3AFF;
  background-color: #fff;
}

.label {
  margin-top: 30px;
  width: 280px;
  font: 20px;
}

.emi{
  padding: 15px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  width: 75%;
  letter-spacing: 2px;
  color: #000000;
  background-color: rgba(74, 58, 255, 0.2);
  border-radius: 34px;
  margin-bottom: 42px;
}

.split {
  height: 100%;
  width: 40%;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img{
  width: 80%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}