<form
  class="vehicle-details-form"
  *ngIf="currentFormIndex === 0"
  [formGroup]="vehicleDetails"
>
  <ng-template
    #vehicleDetail
    [ngTemplateOutlet]="vehicleDetail"
    let-vehicleFormDetail="vehicleFormDetail"
    [ngTemplateOutletContext]="{
      vehicleFormDetail: vehicleDetailsObject
    }"
  >
    <h4 id="eligibilityForm-details-title">{{ vehicleFormDetail.name }}</h4>
    <ng-container *ngFor="let data of vehicleFormDetail.fields">
      <div class="eligibilityForm-detials-row">
        <div>
          <p class="label">{{ data.label }}</p>
          <p>{{ data.error }}</p>
          <input
            class="form-input"
            [attr.for]="data.value"
            type="{{ data.inputType }}"
            placeholder="{{ data.placeholder }}"
            formControlName="{{ data.value }}"
            [ngClass]="{
              error:
                vehicleDetailsControl[data.value].status === 'INVALID' &&
                vehicleDetailsFilled
            }"
            (input)="onInputChange()"
          />
          <p
            *ngIf="
              vehicleDetailsControl[data.value]?.errors?.required &&
              vehicleDetailsFilled
            "
            class="form-error"
          >
            Please fill out this field
          </p>
        </div>
      </div>
    </ng-container>
  </ng-template>
</form>
