<form
  class="vehicle-details-form"
  *ngIf="currentFormIndex === 0"
  [formGroup]="vehicleDetails"
  [class.error]="!vehicleDetails.valid && vehicleDetails.touched"
>
  <ng-template
    #vehicleDetail
    [ngTemplateOutlet]="vehicleDetail"
    let-vehicleFormDetail="vehicleFormDetail"
    [ngTemplateOutletContext]="{
      vehicleFormDetail: vehicleDetailsObject
    }"
  >
    <h4 id="eligibilityForm-details-title">{{ vehicleFormDetail.name }}</h4>
    <ng-container *ngFor="let data of vehicleFormDetail.fields">
      <div class="eligibilityForm-detials-row">
        <div>
          <p class="label">{{ data.label }}</p>
          <p>{{ data.error }}</p>
          <div *ngIf="data.options; else displayTextInput">
            <label
              >Yes
              <input
                type="radio"
                name="data.placeholder"
                [ngClass]="{ error: data.error != '' }"
            /></label>
            <!-- (change)="updateFormValue(currentFormIndex, i, 'Yes')" -->
            <label
              >No
              <input
                type="radio"
                name="data.placeholder"
                [ngClass]="{ error: data.error != '' }"
            /></label>
            <!-- (change)="updateFormValue(currentFormIndex, i, 'No')" -->
          </div>
          <ng-template #displayTextInput>
            <input
              class="form-input"
              [attr.for]="data.value"
              type="{{ data.inputType }}"
              placeholder="{{ data.placeholder }}"
              formControlName="{{ data.value }}"
              [ngClass]="{ error: data.error != '' }"
              (input)="onInputChange()"
            />
            <!-- (input)="
              updateFormValue(
                currentFormIndex,
                i,
                $any($event.target).value
              )
            " -->
          </ng-template>
        </div>
      </div>
    </ng-container>
  </ng-template>
</form>
