<form
  *ngIf="currentFormIndex === 3"
  [formGroup]="loanDetails"
  [class.error]="!loanDetails.valid && loanDetails.touched"
>
  <ng-template
    #loanDetail
    [ngTemplateOutlet]="loanDetail"
    let-loanFormDetail="loanFormDetail"
    [ngTemplateOutletContext]="{
      loanFormDetail: loanDetailsObject
    }"
  >
    <p id="eligibilityForm-details-title">
      {{ loanFormDetail.name }}
    </p>
    <ng-container *ngFor="let data of loanFormDetail.fields">
      <div id="eligibilityForm-detials-row">
        <div>
          <p>{{ data.label }}</p>
          <p>{{ data.error }}</p>
          <!-- <div *ngIf="data.options; else displayTextInput">
                <label
                  >Yes
                  <input
                    type="radio"
                    name="data.placeholder"
                    [ngClass]="{ error: data.error != '' }"
                /></label>
                <label
                  >No
                  <input
                    type="radio"
                    name="data.placeholder"
                    [ngClass]="{ error: data.error != '' }"
                /></label>
              </div> -->
          <!-- <ng-template #displayTextInput> -->
          <input
            type="{{ data.inputType }}"
            placeholder="{{ data.placeholder }}"
            formControlName="{{ data.value }}"
            [ngClass]="{ error: data.error != '' }"
          />
          <!-- </ng-template> -->
        </div>
      </div>
    </ng-container>
  </ng-template>
</form>
