.container{
    box-sizing: border-box;
    width: 466px;
height: 43px;
background: #F7F7FB;
border: 1px solid #A0A3BD;
border-radius: 100px;
}

.switch{
    display: flex;
    border-bottom: 1px;
    justify-content: space-between;

}



.register{
    padding: 5px 12px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 33px;
width: 50%;
height: 33px;
}

.purple{
    background-color: black;
}

.active{
    background-color: #6F6C90;
}