<app-navbar></app-navbar>
<!-- <app-user-dashboard></app-user-dashboard> -->
<!-- <app-navbar></app-navbar> -->
<app-user-dashboard></app-user-dashboard>
<!-- <app-auth-input-box
  [inputType]="'text'"
  [placeholder]="'name'"
></app-auth-input-box> -->
<!-- <app-login></app-login> -->
<!-- <app-admin-dashboard></app-admin-dashboard> -->

<!-- <app-eligibility-form></app-eligibility-form> -->
<app-application-form></app-application-form>
<!-- <app-eligibility-form></app-eligibility-form> -->
<!-- <app-emi-calc></app-emi-calc> -->
<app-register>
</app-register>
