<form
  class="employment-details-form"
  *ngIf="currentFormIndex === 2"
  [formGroup]="employmentDetails"
  [class.error]="!employmentDetails.valid && employmentDetails.touched"
>
  <ng-template
    #employmentDetail
    [ngTemplateOutlet]="employmentDetail"
    let-employmentFormDetail="employmentFormDetail"
    [ngTemplateOutletContext]="{
      employmentFormDetail: employmentDetailsObject
    }"
  >
    <p id="registerForm-details-title">{{ employmentFormDetail.name }}</p>
    <ng-container *ngFor="let data of employmentFormDetail.fields">
      <div id="registerForm-detials-row">
        <div>
          <p class="label">{{ data.label }}</p>
          <p>{{ data.error }}</p>
          <input
            class="form-input"
            [attr.for]="data.value"
            type="{{ data.inputType }}"
            placeholder="{{ data.placeholder }}"
            formControlName="{{ data.value }}"
            [ngClass]="{
              error:
                employmentDetailsControl[data.value].status === 'INVALID' &&
                employmentDetailsFilled
            }"
            (change)="onInputChange()"
          />
          <p
            *ngIf="
              employmentDetailsControl[data.value]?.errors?.required &&
              employmentDetailsFilled
            "
            class="form-error"
          >
            Please fill this field
          </p>
        </div>
      </div>
    </ng-container>
  </ng-template>
</form>
