<html>
    <body>

        <div class="container">
            <div class="switch">
                <!-- <div class="register" id="active">Register</div>
                <div class="signin" >Sign in</div> -->
                <div class="register" (click)="onClickToggle('pending')" [ngClass]="{active:toggle=='pending'}">Register</div>
                <div class="signin" (click)="onClickToggle('approved')" [ngClass]="{active:toggle=='approved'}">Sign In</div>
            </div>
        </div>


    </body>
</html>