<app-navbar></app-navbar>
<div class="home">
  <div class="carousel-wrapper">
    <carousel
      [height]="550"
      [cellWidth]="'100%'"
      [autoplay]="true"
      [pauseOnHover]="false"
      [arrowsTheme]="'dark'"
    >
      <div class="carousel-cell">
        <img src="../../../assets/carousel1.svg" />
      </div>
      <div class="carousel-cell">
        <img src="../../../assets/carousel2.svg" />
      </div>
      <div class="carousel-cell">
        <img src="../../../assets/carousel3.svg" />
      </div>
    </carousel>
  </div>
  <div class="emi-calc-container">
    <app-emi-calc></app-emi-calc>
  </div>
</div>
