 .right {
    padding-top: 70px;
    flex: 30%;
  }
  .left {
    padding-top: 70px;
    flex: 70%;
  }
  .admin-div {
    padding-top: 90px;
    flex-direction: row;
  }
  body{
    padding-top: 90px;
  }

  .container{
    box-sizing: border-box;
    width: 466px;
height: 43px;
background: #F7F7FB;
border: 1px solid #A0A3BD;
border-radius: 100px;
}

.switch{
    display: flex;
    border-bottom: 1px;
    justify-content: space-between;

}



.register{
    padding: 5px 12px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 33px;
width: 50%;
height: 33px;
color: #fff;

}
.register:hover{
  color: black;

}





/* .register:hover{
    background-color: #6F6C90;
} */

.purple{
    background-color: #6F6C90;
}

.active{
    background-color: #6F6C90;
}

  table{
    width: 1326px;
height: 0px;
left: 57px;
top: 270px;
border: 1px solid #A0A3BD;
}
th{
  border-bottom: 1px solid #A0A3BD;
  background-color: #6F6C90;
  color:#F7F7FB;
  /* padding-bottom: 10px;
  padding-top: 10px; */
  padding: 10px;
}

td{
  width: 100px;
}

.btnClm{
  background-color: white;
  border: 1px solid #fff;
  padding: 0px;
}

.appTable{
  padding-left: 100px;
  padding-top: 20px;
}

.approve:hover{
  background-color: #fff;
  color: green;
}
.reject:hover{
  background-color: #fff;
  color: red;
}
.reject {
  background: red;
  padding: 10px 40px;
  color: #fff;
  border: none;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: all 150ms linear;
}

.approve {
  background: green;
  padding: 10px 40px;
  color: #fff;
  border: none;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: all 150ms linear;
}
