<h3 id="title">Your Loan Quotes</h3>
<div class="first-container">
    <div class="label">Product Type</div>
</div>
<div class="second-container">
    <div class="label">EMI</div>
</div>
<div class="third-container">
    <div class="label">Loan Amount</div>
    
</div>
<div class="fourth-container">
    <div class="label">Interest Rate</div>
    
</div>
<div class="fifth-container">
    <div class="label">Loan type id</div>
    
</div>
<div class="sixth-container">
    <div class="label">Car ID</div>
    
</div>
    <button type="submit" class="btn" id="apply-now">
      Apply Now
    </button>
    <button type="submit" class="btn" id="emi-scheduler">
        EMI SCHEDULER
      </button>
