.loan-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#title{
    height: 46px;
    margin-top: 130px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #170F49;
}

.loan-offer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.loan-offer-row {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.first-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 362px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #4A3AFF;
    box-shadow: 0px 4px 8px rgba(74, 58, 255, 0.08);
    border-radius: 34px;
    margin-top: 30px;
}

.label{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #A0A3BD;
}

.fetch_details{
    color: #000000;
    font-family: 'DM Sans';
    font-style: italic;
    text-align: center;
}

.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 362px;
    height: 120px;
    background: #FFFFFF; 
    border: 1px solid #4A3AFF; 
    box-shadow: 0px 4px 8px rgba(74, 58, 255, 0.08);
    border-radius: 34px;
    margin-top: 30px;
}

.third-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 362px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #4A3AFF;
    box-shadow: 0px 4px 8px rgba(74, 58, 255, 0.08);
    border-radius: 34px;
    margin-top: 30px;
}
.fourth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 362px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #4A3AFF;
    box-shadow: 0px 4px 8px rgba(74, 58, 255, 0.08);
    border-radius: 34px;
    margin-top: 30px;
}
.fifth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 362px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #4A3AFF;
    box-shadow: 0px 4px 8px rgba(74, 58, 255, 0.08);
    border-radius: 34px;
    margin-top: 30px;
    align-self: flex-start;
}

.sixth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 362px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #4A3AFF;
    box-shadow: 0px 4px 8px rgba(74, 58, 255, 0.08);
    border-radius: 34px;
    margin-top: 30px;
}

#apply-now{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 40px 21px;
gap: 8px;
position:absolute;
left: 66.4%;
right: 24.9%;
top: 90%;
bottom: 17.96%; 
width: 150px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
white-space: nowrap;
}
#emi-scheduler{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 21px;
    gap: 8px;
    position: absolute;
    left: 55.4%;
    right: 35.9%;
    top: 90%;
    bottom: 17.96%;
    width: 150px;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
white-space: nowrap;

}
.btn {
    background: #4A3AFF;
    padding: 10px 40px;
    color: #fff;
    border: none;
    box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
    border-radius: 56px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: all 150ms linear;
}
.btn:hover {
    color: #4A3AFF;
    background-color: #fff;
}

.emi-scheduler {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 84%, 0.419);
    animation: fadeIn 200ms;
}

.emi-scheduler-container {
    position: absolute;
    top: 40%;
    width: 400px;
    border-radius: 20px;
}

.emi-scheduler-row {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid #000000;
    z-index: 50;
}

.emi-scheduler-row > p {
    border: 1px solid #000000;
    width: 50%;
    padding: 10px;
    background: #fff;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
