#navbar {
    height: 75px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 2px 4px 8px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 100;
}

#navbar-left {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

#navbar-logo {
    display: flex;
    width: 22%;
    justify-content: space-around;
}

#navbar-logo > p {
    cursor: pointer;
}

#navbar-left-btns {
    width: 75%;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    margin-left: 30px;
    white-space: nowrap;
}

#navbar-left-btns > p {
    cursor: pointer;
    margin: 0 13px;
    border-radius: 12px;
    padding: 5px 0;
}


#navbar-left-btns > p:hover {
    color: #4A3AFF;
}

#navbar-left-btns #active {
    background-color: rgba(74, 58, 255, 0.3);
    padding: 5px 13px;
    margin: 0;
}

#navbar-left-btns #active:hover {
    color: inherit;
}

#navbar-right {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}
#navbar-logout {
    display: flex;
    cursor: pointer;
}

#navbar-logout:hover {
    color: #4A3AFF;
}

#navbar-logout > img {
    width: 20px;
}

#navbar-logout > p {
    border-radius: 12px;
    font-weight: 500;
    padding: 5px 0;
    white-space: nowrap;
    margin-right: 20px;
}

#navbar-logout > p:hover {
    color: #4A3AFF;
}

#navbar-right > h1 {
    width: 100%;
    cursor: default;
}