<div id="navbar">
  <div id="navbar-left">
    <div id="navbar-logo">
      <img src="../../../assets/svgs/Star.svg" alt="Blue Star" />
      <p>LTI Car Loan</p>
    </div>
    <div id="navbar-left-btns">
      <p [routerLink]="['/']">Home</p>
      <p [routerLink]="['/emi-calculator']">EMI Calculator</p>
      <p *ngIf="userLoggedIn" [routerLink]="['/eligibility-form']">
        Apply Loan
      </p>
      <p
        *ngIf="userLoggedIn"
        [routerLink]="isAdmin ? ['/admin-dashboard'] : ['/user-dashboard']"
        class="active"
      >
        Dashboard
      </p>
    </div>
  </div>
  <div id="navbar-right">
    <div
      [routerLink]="['/login']"
      *ngIf="userLoggedIn"
      (click)="logout()"
      id="navbar-logout"
    >
      <!-- <span class="material-icons-two-tone">logout</span> -->
      <img src="../../../assets/svgs/Logout.svg" alt="Exit door" />
      <p>Log out</p>
    </div>
    <div *ngIf="!userLoggedIn" id="navbar-login">
      <!-- <span class="material-icons-two-tone">logout</span> -->
      <!-- <img src="../../../assets/svgs/Logout.svg" alt="Enter door" /> -->
      <p [routerLink]="'/login'">Sign in</p>
      <p [routerLink]="'/register'">Register</p>
    </div>
    <h1 *ngIf="isAdmin && userLoggedIn">Admin</h1>
  </div>
</div>
