.auth-input
{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
outline: none;
}

.auth-input
{
    border: 0px solid #000000;
    border-bottom-width: 1px;
    background-color: transparent;
}
.auth-input:hover{
    border-color: #000066;
   background-color: #FFFFF7;
}