<h1>Create an Account</h1>
<div id="account">
    <label>User Personal Details</label>
    <div class="element">
        <input class="auth-input" text=[inputType] placeholder=FirstName/>
    </div>
    <div class="element">
        <input class="auth-input" text=[inputType] placeholder=LastName/>
    </div>
    <div class="element">
        <input class="auth-input" text=[inputType] placeholder=Email/>
    </div>
    <div class="element">
        <input class="auth-input" text=[inputType] placeholder=Password/>
    </div>
    <div class="element">
        <input class="auth-input" text=[inputType] placeholder=Age/>
    </div>
    <div class="element">
        <input class="auth-input" text=[inputType] placeholder=Gender/>
    </div>
</div>
<div>
    <button id="next">Next</button>
</div>

