<div id="register">
    <div id="registerForm-header">
      <h1>Create an Account</h1>
    </div>
    <div id="registerForm-container">
      <div id="registerForm-progressbar"></div>
      <div id="registerForm-details">
        <ng-template
          #formDetail
          [ngTemplateOutlet]="formDetail"
          let-currentFormDetail="currentFormDetail"
          [ngTemplateOutletContext]="{
            currentFormDetail: formDetails[currentFormIndex]
          }"
        >
          <p id="registerForm-details-title">{{ currentFormDetail.name }}</p>
          <ng-container *ngFor="let data of currentFormDetail.fields; let i = index">
            <div id="eligibilityForm-detials-row">
              <div>
                <p>{{ data.label }}</p>
                <input
                  type="{{ data.inputType }}"
                  placeholder="{{ data.placeholder }}"
                  value="{{ data.value }}"
                  (input)="updateFormValue(currentFormIndex,i,$any($event.target).value)"
                />
              </div>
            </div>
          </ng-container>
        </ng-template>
        <button *ngIf="currentFormIndex > 0" (click)="decreaseCurrentIndex()">
          Back
        </button>
        <button
          *ngIf="
            currentFormIndex < formDetails.length - 1;
            else displayRegisterButton
          "
          (click)="increaseCurrentIndex()"
        >
          Next
        </button>
        <ng-template #displayRegisterButton>
          <button>Register</button>
        </ng-template>
      </div>
    </div>
  </div>
  




