<form
  class="personal-details-form"
  *ngIf="currentFormIndex === 1"
  [formGroup]="personalDetails"
  [class.error]="!personalDetails.valid && personalDetails.touched"
>
  <ng-template
    #personalDetail
    [ngTemplateOutlet]="personalDetail"
    let-personalFormDetail="personalFormDetail"
    [ngTemplateOutletContext]="{
      personalFormDetail: personalDetailsObject
    }"
  >
    <h4 id="eligibilityForm-details-title">
      {{ personalFormDetail.name }}
    </h4>
    <ng-container *ngFor="let data of personalFormDetail.fields">
      <div class="eligibilityForm-detials-row">
        <div>
          <p class="label">{{ data.label }}</p>
          <p>{{ data.error }}</p>
          <!-- <div *ngIf="data.options; else displayTextInput">
            <label
              >Yes
              <input
                type="radio"
                name="{{ data.value }}"
                [ngClass]="{ error: data.error != '' }"
                value="Yes"
                formControlName="{{ data.value }}"
                (change)="onInputChange()"
            /></label>
            <label
              >No
              <input
                type="radio"
                name="{{ data.value }}"
                [ngClass]="{ error: data.error != '' }"
                value="No"
                formControlName="{{ data.value }}"
                (change)="onInputChange()"
            /></label>
          </div> -->
          <!-- <ng-template #displayTextInput> -->
            <input
              class="form-input"
              [attr.for]="data.value"
              type="{{ data.inputType }}"
              placeholder="{{ data.placeholder }}"
              formControlName="{{ data.value }}"
              [ngClass]="{ error: data.error != '' }"
              (change)="onInputChange()"
            />
          <!-- </ng-template> -->
        </div>
      </div>
    </ng-container>
  </ng-template>
</form>
