<!-- <div id="application-form">
  <app-personal-details-application-form
    [currentFormIndex]="currentFormIndex"
  ></app-personal-details-application-form>
  <app-employment-details-application-form
    [currentFormIndex]="currentFormIndex"
  >
  </app-employment-details-application-form>
  <app-vehicle-details-application-form
    [currentFormIndex]="currentFormIndex"
  ></app-vehicle-details-application-form>
  <app-loan-details-application-form
    [currentFormIndex]="currentFormIndex"
  ></app-loan-details-application-form>
  <app-identity-details-application-form
    [currentFormIndex]="currentFormIndex"
  ></app-identity-details-application-form>

  <button *ngIf="currentFormIndex > 0" (click)="decreaseCurrentIndex()">
    Back
  </button>
  <button
    *ngIf="currentFormIndex < 4; else displayRegisterButton"
    (click)="increaseCurrentIndex()"
  >
    Next
  </button>
  <ng-template #displayRegisterButton>
    <button (click)="submitApplicationForm()" type="submit">Register</button>
  </ng-template>
</div> -->

<div id="application-form">
  <div id="application-form-header">
    <h1>Application Form</h1>
    <p>Please verify the details in the application form below</p>
  </div>
  <div id="application-form-container">
    <div
      id="form-filled"
      *ngIf="formAlreadyFilled; else displayEligibilityForm"
    >
      <p>You have already applied for a loan</p>
      <button class="btn" [routerLink]="['/user-dashboard']">
        Go to the dashboard
      </button>
    </div>
    <ng-template #displayEligibilityForm>
      <div id="application-form-progressbar">
        <div *ngFor="let number of [1, 2, 3, 4]" id="progressbar-container">
          <p
            class="progressbar-circle"
            [ngClass]="{ active: number <= currentFormIndex + 1 }"
          >
            {{ number }}
          </p>
          <div
            class="progressbar-line"
            [ngClass]="{
              active: number <= currentFormIndex,
              hidden: number === 4
            }"
          ></div>
        </div>
      </div>
      <div class="separator"></div>
      <form id="application-form-details" (ngSubmit)="submitApplicationForm()">
        <app-personal-details-application-form
          [currentFormIndex]="currentFormIndex"
        ></app-personal-details-application-form>

        <app-employment-details-application-form
          [currentFormIndex]="currentFormIndex"
        ></app-employment-details-application-form>

        <app-vehicle-details-application-form
          [currentFormIndex]="currentFormIndex"
        >
        </app-vehicle-details-application-form>

        <app-loan-details-application-form
          [currentFormIndex]="currentFormIndex"
        >
        </app-loan-details-application-form>

        <!-- <app-identity-details-application-form
          [currentFormIndex]="currentFormIndex"
        >
        </app-identity-details-application-form> -->

        <div id="form-success" *ngIf="formSubmitted; else displayButtons">
          <p>
            {{
              formSuccess
                ? "Your application form has been submitted, please wait until the details get verified."
                : "You are not eligible for a Car Loan"
            }}
          </p>
          <button
            *ngIf="formSuccess"
            class="btn"
            [routerLink]="['/user-dashboard']"
          >
            Go to dashboard
          </button>
        </div>
        <ng-template #displayButtons>
          <div id="form-button-container">
            <button
              *ngIf="currentFormIndex > 0"
              (click)="decreaseCurrentIndex()"
              type="button"
              class="btn"
              id="prev-btn"
            >
              Previous Step
            </button>
            <button
              *ngIf="currentFormIndex < 3; else displayRegisterButton"
              (click)="increaseCurrentIndex()"
              type="button"
              class="btn"
              id="next-btn"
            >
              Next Step
            </button>
            <ng-template #displayRegisterButton>
              <button type="submit" class="btn" id="register-btn">
                Submit
              </button>
            </ng-template>
          </div>
        </ng-template>
      </form>
    </ng-template>
  </div>
</div>
<!-- 
<div>
    <div >
        <label>Car Make</label>
        <div><input type="text" required placeholder="Eg.:Nissan X39-02" class="inp"></div>
    </div>
    <div class="inp">
        <label>Car Model</label>
        <div class="inp"><input type="text" required placeholder="Eg.:Nissan"></div>
    </div>
    <div class="inp">
        <label>Ex Showroom Price</label>
        <div><input type="text" required placeholder="$56781"></div>
    </div>
    <div class="inp">
        <label>On Road Price</label>
        <div><input type="text" required placeholder="$56781"></div>
    </div>
</div> -->
<!-- <div class="input-container">
    <label class="label" >Car Make</label>
<input class="input"
text=[inputType]
placeholder=Eg.Nissan
/>
</div> -->

<!-- 
div {
    display: flex;
    flex-direction: row-reverse;
  } -->
